QLineEdit {
    selection-background-color: darkgray;   /*选中文字背景色*/
    lineedit-password-character: 1422;      /*密码输入框为星号*/
}

/*主窗口*/
#widgetMain {
    border-radius: 4px;    /*窗口最外层圆角*/
    background: rgba(39, 174, 97, 255);    /*背景颜色*/
}

/*标题栏*/
#widgetTitlebar {
    min-height: 36px;
    max-height: 36px;
    /*标题栏左上角右上角圆角(保持和主窗口的圆角一致)*/
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/*标题栏中的按钮*/
#buttonSkin, #buttonIssues, #buttonMinimum, #buttonMaximum, #buttonNormal, #buttonClose {
    /*定义最小最大宽高*/
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    font-family: "pyqtclient";    /*使用自定义字体*/
    border: none;    /*无边框*/
    color: white;   /*文字颜色*/
    font-size: 16px;
    background: transparent; /*背景透明*/
}
/*标题栏中的按钮悬停效果*/
#buttonSkin:hover, #buttonIssues:hover, #buttonMinimum:hover, #buttonMaximum:hover, #buttonNormal:hover, #buttonClose:hover {
    background-color: rgba(255, 255, 255, 100); /*带透明度白色背景*/
}

/*关闭按钮悬停显示其它颜色*/
#buttonClose:hover {
    background-color: rgba(212, 64, 39, 255); /*红色*/
}

/*修改标题栏中按钮的文字*/
#buttonSkin {
    font-size: 22px;
    font-weight: bold;
    qproperty-text: "\2104";
}
#buttonIssues {
    qproperty-text: "\5104";
}
#buttonMinimum {
    qproperty-text: "\2100";
}
#buttonMaximum {
    qproperty-text: "\2101";
}
#buttonNormal {
    qproperty-text: "\2102";
}
#buttonClose {
    qproperty-text: "\2103";
    /*关闭按钮右上角有个圆角(保持和主窗口一致)*/
    border-top-right-radius: 4px;
}

/*左侧目录区域*/
#widgetCatalogs {
    min-width: 260px;
    max-width: 260px;
    /*左下角有个圆角(保持和主窗口一致)*/
    border-bottom-left-radius: 4px;
    /*水波纹进度*/
    qproperty-waterHeight: 0.6;
    qproperty-waterFgColor: rgba(255, 255, 255, 80);
    qproperty-waterBgColor: rgba(255, 255, 255, 50);
}

/*圆形头像*/
#buttonHead {
    outline: none;
    border: none;
    min-width: 130px;
    min-height: 130px;
    max-width: 130px;
    max-height: 130px;
    background: transparent;
    qproperty-shadowColor: rgba(255, 255, 255, 255);
    qproperty-image: "Resources/Images/Avatars/avatar.png";
}

/*搜索框*/
#widgetSearch {
    min-height: 32px;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 100);
    border-radius: 0px;
}

/*基本信息*/
#basicmsg {
    background-color: rgba(255, 255, 255, 100);
    border-radius: 0px;
}


/*搜索框中的输入框*/
#lineEditSearch {
    width: 220px;
    height: 32px;
    border: none;
    color: rgba(102, 102, 102, 255);
    background: rgba(255, 255, 255, 255);
    outline: none;
    /*设置左右边距*/
    padding-left: 10px;
    padding-right: 5px;
    /*设置圆角和父控件一致*/
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
/*搜索框中的按钮*/
#buttonClear {
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    border: none;
    color: white;
    qproperty-bgColor: rgba(39, 174, 97, 255);
    outline: none;
    font-family: "pyqtclient";
    qproperty-text: "\2103";
}

/*目录树*/
#treeViewCatalogs {
    outline: none;  /*去掉虚线框*/
    border: none;       /*无边框*/
    color: rgba(255, 255, 255, 200);
    font-weight: bold;
    background: transparent;    /*背景透明*/
}

#treeViewCatalogs::item {
    min-height: 36px;
    border-radius: 8px;
}

#treeViewCatalogs::item:hover {
    color: rgba(255, 255, 255, 255);
    background: rgba(217, 217, 217, 100);
}

#treeViewCatalogs::item:selected {
    color: rgba(255, 255, 255, 255);
    background: rgba(217, 217, 217, 100);
}

#treeViewCatalogs::item:selected:active{
    color: rgba(255, 255, 255, 255);
    background: rgba(217, 217, 217, 100);
}

#treeViewCatalogs::item:selected:!active {
    color: rgba(255, 255, 255, 200);
    background: rgba(217, 217, 217, 50);
}

/*工具栏*/
#widgetTools {
    min-width: 60px;
    max-width: 60px;
    background-color: rgba(38, 38, 38, 255);
}
/*工具栏中的按钮*/
#buttonGithub, #buttonQQ, #buttonGroup {
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    border-radius: 18px;
    border: none;
    color: white;
    outline: none;
    font-family: "pyqtclient";
    font-size: 20px;
    background: rgba(46, 46, 46, 255);
    qproperty-shadowColor: rgba(255, 255, 255, 255);
}

/*github按钮*/
#buttonGithub {
    qproperty-text: "🌏";
}
/* qproperty-text: "\5102";*/
#buttonGithub:hover {
    background: rgba(14, 134, 174, 255);
}
/*QQ按钮"\4101"*/
#buttonQQ {
    font-weight: bold;
    qproperty-text: '▓';
}
#buttonQQ:hover {
    background: rgba(255, 180, 97, 255);
}
/*QQ群按钮*/
#buttonGroup {
    font-weight: bold;
    qproperty-text: "✍";

}
/*qproperty-text: "\2659";*/
#buttonGroup:hover { 
    background: rgba(232, 76, 61, 255);
}

/*返回顶部按钮*/
#buttonHome, #buttonBackToUp {
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    border: none;
    color: rgba(255, 255, 255, 255);
    qproperty-bgColor: rgba(39, 174, 97, 255);
    outline: none;
    font-family: "pyqtclient";
}

/*显示主页Readme*/
#buttonHome {
    qproperty-text: "\5103";
}

/*\5101*/
#buttonBackToUp {
    qproperty-text: "➥";
}

/*存放网页控件*/
#widgetContents {
    background: rgb(248, 248, 248);
    border-bottom-right-radius: 4px;
}
/*网页背景透明*/
#webViewContent {
    background: transparent;
}

/*仿ToolTip窗口*/
ToolTip > QLabel {
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(77, 77, 77, 180);
}

/*对话框标题栏*/
#dialogTitlebar {
    /*标题栏左上角右上角圆角(保持和主窗口的圆角一致)*/
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/*登录窗口*/
#widgetLogin {
    border: 1px solid rgba(44, 144, 92, 255);
    border-radius: 4px;    /*窗口最外层圆角*/
    background: rgba(64, 187, 107, 255);    /*背景颜色*/
}
/*激活状态*/
#widgetLogin[_active="true"] {
    border: 1px solid rgba(44, 144, 92, 255);
}
/*非激活状态*/
#widgetLogin[_active="false"] {
    border: 1px solid transparent; /*透明边框*/
}

/*登录窗口输入框*/
#lineEditAccount, #lineEditPassword {
    /*设置左右边距*/
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 255);
    border-radius: 12px;
}
#lineEditPassword[echoMode="2"] {
    lineedit-password-character: 1422;
}

/*登录框消息提示文字*/
#labelNotice {
    color: red;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

/*登录按钮*/
#buttonLogin {
    border: none;
    background-color: rgba(255, 255, 255, 255);
    border-radius: 12px;
    qproperty-circleColor: rgb(230, 230, 230);
}
#buttonLogin:hover {
    background-color: rgba(240, 240, 240, 255);
}
#buttonLogin:pressed {
    background-color: rgba(230, 230, 230, 255);
}

/*捐赠,更新,错误,主题窗口*/
#widgetDonate, #widgetUpdate, #widgetError, #widgetSkin {
    border: 1px solid rgba(39, 174, 97, 255);
    border-radius: 4px;    /*窗口最外层圆角*/
    background: rgba(64, 187, 107, 255);    /*背景颜色*/
}
/*捐赠窗口,更新窗口,错误,主题窗口背景*/
#widgetImage, #widgetUpdateBg, #widgetErrorBg, #widgetSkinBg {
    border: 1px solid rgba(39, 174, 97, 255);
    border-top: none;
    background: rgba(235, 235, 235, 255);    /*背景颜色*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#widgetSkinBg {
    background: rgba(255, 255, 255, 255);    /*背景颜色*/
}
#dialogTitlebar > #labelTitle {
    color: white;
}
/*更新详情*/
#plainTextEditDetail, #plainTextEditPip {
    background: transparent;
}
/*更新进度条*/
#progressBarUpdate::chunk {
    background-color: rgba(39, 174, 97, 255);
}

/*pip按钮*/
#buttonInstall {
    border: none;
    padding: 4px 10px;
    min-height: 36px;
    max-height: 36px;
    border-radius: 4px;
    background: rgba(64, 187, 107, 255);    /*背景颜色*/
}
#buttonInstall:hover {
    background: rgba(64, 187, 107, 150);
}
#buttonInstall:pressed {
    background: rgba(64, 187, 107, 200);
}
/*pip输入框*/
#lineEditPip {
    border: none;
    min-height: 28px;
    border-radius: 4px;
}

/*主题选择tab标签*/
#scrollArea, #scrollAreaWidgetContents {
    background: transparent;
}
#tabWidgetSkinMain::pane {
    border-top: 1px solid rgba(240, 240, 240, 255);
}
#tabWidgetSkinMain > QTabBar::tab {
    color: rgb(140, 140, 140);
    font-size: 20px;
    min-width: 120px;
    min-height: 50px;
    background: transparent;
}
#tabWidgetSkinMain > QTabBar::tab:hover {
    color: black;
}
#tabWidgetSkinMain > QTabBar::tab:selected {
    color: rgb(39, 174, 97);
    border-bottom: 2px solid rgb(39, 174, 97);
}

/*主题图片tab标签*/
#widgetCategories > QPushButton {
    border: none;
    color: rgb(140, 140, 140);
    min-height: 26px;
    background: transparent;
}
#widgetCategories > QPushButton:hover {
    color: black;
}
#widgetCategories > QPushButton:checked {
    color: rgb(39, 174, 97);
}

/*主题透明度调整*/
#sliderOpacity::add-page:horizontal {
    background-color: transparent;
}
#sliderOpacity::groove:horizontal {
    height: 4px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0.5, x2:1, y2:0.5, stop:0 rgba(19, 183, 245, 255), stop:1 rgba(255, 255, 255, 255));
}
#sliderOpacity::handle:horizontal {
    width: 20px;
    height: 20px;
    margin-top: -9px;
    margin-bottom: -9px;
    border-radius: 10px;
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.9 rgba(255, 255, 255, 255), stop:1 rgba(19, 183, 245, 255));
}

/*重置默认主题按钮*/
#buttonRestore {
    border: 1px solid rgba(216, 218, 219, 255);
    background: rgba(255, 255, 255, 255);
    font-size: 18px;
    min-height: 36px;
    padding: 0px 10px;
    border-radius: 4px;
}
#buttonRestore:hover {
    background: rgba(239, 239, 240, 255);
}
#buttonRestore:pressed {
    background: rgba(225, 226, 227, 255);
}

/*壁纸控件进度条*/
PictureWidget {
    /*圆圈颜色*/
    qproperty-circleColor: rgb(39, 174, 97);
}

/*主题界面中缩略图控件文字悬停颜色*/
#skinBaseItemWidget {
    qproperty-textHoverColor: rgb(39, 174, 97);
}

/*主题预览界面*/
#FormPreviewWidget {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgba(255, 255, 255, 240);
}
#buttonPreviewPrevious, #buttonPreviewNext, #buttonPreviewClose {
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    color: rgb(181, 182, 185);
    font-family: "pyqtclient";
    font-size: 40px;
    border: none; /*无边框*/
    background: transparent; /*背景透明*/
}
#buttonPreviewPrevious:hover,#buttonPreviewNext:hover, #buttonPreviewClose:hover {
    color: rgb(118, 122, 126);
}
#buttonPreviewPrevious:pressed,#buttonPreviewNext:pressed, #buttonPreviewClose:pressed {
    color: rgb(27, 36, 42);
}

#buttonPreviewPrevious {
    qproperty-text: "\5106";
}
#buttonPreviewNext {
    qproperty-text: "\5107";
}
#buttonPreviewClose {
    qproperty-text: "\5105";
}
#buttonPreviewApply {
    color: white;
    font-size: 20px;
    font-family: "微软雅黑";
    min-height: 35px;
    min-width: 120px;
    border: none;
    border-radius: 2px;
    background: rgb(39, 174, 97);
}
#buttonPreviewApply:hover {
    background: rgba(39, 174, 97, 200);
}
#buttonPreviewApply:pressed {
    background: rgba(39, 174, 97, 230);
}

/*滚动条样式*/
QScrollBar:vertical {
    background: transparent;
    width: 8px;
    border-radius: 4px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
    background: rgba(208, 208, 208, 150);
    width: 8px;
    border-radius: 4px;
    border: none;
}

QScrollBar::handle:vertical:hover {
    background: rgba(208, 208, 208, 255);
}

/*设置滑杆上部分区域*/
QScrollBar::sub-page:vertical {
    width: 8px;
    background: transparent;
}

/*设置滑杆下部分区域*/
QScrollBar::add-page:vertical {
    width: 8px;
    background: transparent;
}

/*设置顶部箭头*/
QScrollBar::sub-line:vertical {
    height: 1px;
    border-image: none;
    background: transparent;
    subcontrol-position: top;
}

/*设置底部箭头*/
QScrollBar::add-line:vertical {
    height: 1px;
    border-image: none;
    background: transparent;
    subcontrol-position:bottom;
}

/*菜单*/
QMenu {
    color: black;
    border: 0px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}
QMenu::item {
    padding: 8px 30px;
    border-bottom: 1px solid rgba(200, 200, 200, 255);
}
QMenu::item:selected {
    color: white;
    background: rgba(39, 174, 97, 200);
}
